{
    "rules": {
        "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
        "comma-style": [2, "last"],
        "quotes": [1, "single"],
        "no-unused-vars": 1,
        "global-strict": [2, "always"],
        "no-console": false,
        "no-underscore-dangle": false,
        "max-statements":[2, 15],
        "max-depth": [1, 3],
        "complexity": [2, 7],
        "max-params": [1, 3],
        "max-nested-callbacks": [2, 3],
        "consistent-this": [1, "self"],
        "no-extra-bind": 1,
        "space-after-keywords": [2, "always"],
        "space-before-blocks": [2, "always"]
    },
    "env":{
        "es6": true,
        "browser": true,
        "node": true
    },
    "globals": {
        "__dirname": true,
        "describe": true,
        "expect": true,
        "it": true,
        "jest": true,
        "_BAPI": true,
        "beforeEach": true,
        "afterEach": true
    },
    "ecmaFeatures": {
        "modules": true,
        "blockBindings": true,
        "jsx": false
    }
}
